*{
  /* font-family: 'Edu SA Beginner', sans-serif !important; */
  font-size: 1.2rem;
}
.responsive-img {
  height: 20vmin;
  pointer-events: none;
}
.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}